<h1> Repo Search </h1>

<div id="search"> 
  <%= form_with url: main_index_path, method: :get do |form| %>
    <%= form.text_field :search %>
    <%= form.submit "Search"%>
  <% end %>
</div>

<div>
  <% if @payload %>

    <p> <%= "#{@payload["total_count"]} items match your search" %> </p>

    <% @payload["items"].each do |load| %>
      <%= load["name"] %>
    <% end %>

  <% end %>
</div>
