<h1> Repo Search </h1>

<div id="search"> 
  <%= form_with url: main_index_path, method: :get do |form| %>
    <%= form.text_field :search %>
    <%= form.submit "Search"%>
  <% end %>
</div>

<div id="repositories">
  <% if @repos %>

    <p> <%= "#{@repos["total_count"]} items match your search" %> </p>

    <% @repos["items"].each do |repo| %>
      <article>
        <%= link_to repo["html_url"] do %>
          <%= repo["full_name"] %>
        <% end %>
      </article>
      <br>
    <% end %>

  <% end %>
</div>
